/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles*/

body {
    font-family: Libre Baskerville, serif;
    font-size: 16px;
    color: #444;
}

.sectionTitle {
    color: #1D2E26;
    font-family: "Montserrat", cursive;
    margin-bottom: 4rem;
}

hr {
    border-color: #1D2E26;
    border-image: none;
    border-style: solid none none;
    border-width: 3px 0 0;
    margin: 0 auto;
    width: 60%;
    clear: both;
}

.bottomSpacer {
    margin-bottom: 8rem;
}


/* Header styles
    (all the styles inside the < header > or < nav > tags)
*/

.navbar {
    padding-bottom: 1rem;
    background-color: #fff;
}

.navbar-brand img {
    width: 5rem;
}

.navbar-default {
    border: none;
}


/* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/


/*Jumbotron Styles*/

.hero .jumbotron {
    background-image: url(../images/GlobeNight.jpg);
    height: 70rem;
    background-size: cover;
    background-position: center;
    /*text-transform: uppercase;*/
    text-align: center;
    font-family: "Montserrat", cursive;
}

.hero .jumbotron .jumboName {
    margin-top: 4rem;
    color: #1D2E26;
    font-size: 4.5rem;
}

.hero .jumbotron h4 {
    color: #fff;
    font-size: 3rem;
    margin-top: 3rem;
}

.hero .fa-chevron-down {
    margin-top: 45.5rem;
    font-size: 5rem;
    color: #1D2E26;
}


/*Intro Styles*/

.introduction {
    margin-top: 11rem;
    clear: both;
    height: 40rem;
    text-align: left;
    line-height: 1.37;
}

.introduction img {
    width: 90%;
}


/*Portfolio Styles*/

.portfolio {
    clear: both;
    color: #fff;
    text-align: center;
    margin-top: 8rem;
}

.portfolio .box {
    height: 54rem;
    padding-bottom: 4rem;
    padding-top: 12rem;
}

.portfolio .box h2 {
    min-height: 10rem;
    margin-top: -4rem;
}

.portfolio .box .description {
    min-height: 28rem;
}

.portfolio .box:hover {
    border: 1px solid #333;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
}

.portfolio .shortBox {
    height: 12rem;
}

.portfolio .info {
    min-height: 36rem;
    padding: 1rem;
}

.screenshot {
    max-height: 80rem;
    width: 80%;
    padding-top: 6rem;
}

#prs {
    background: rgba(79, 124, 103, 0.9);
}

#Bmdb {
    background: rgba(49, 77, 64, 0.9);
}

#cubsQuiz {
    background: rgba(29, 46, 38, 0.9);
}

#chess {
    background: rgba(59, 93, 77, 0.9);
}


/*Skills Styles*/

.icons img {
    max-height: 10rem;
    width: 10rem;
    margin-top: 4rem;
}


/*Details Styles*/

.closeDetails {
    margin-top: 1rem;
    margin-right: 4rem;
    text-align: right;
    color: #444;
}

i:hover,
.closeDetails:hover {
    cursor: pointer;
}

#prsImage {
    border: 10px solid rgba(79, 124, 103, 0.9);
    margin-top: -8.2rem;
}

#BmdbImage {
    border: 10px solid rgba(49, 77, 64, 0.9);
    margin-top: -8.1rem;
}

#cubsQuizImage {
    border: 10px solid rgba(29, 46, 38, 0.9);
    margin-top: -8rem;
}

#chessImage {
    border: 10px solid rgba(59, 93, 77, 0.9);
    margin-top: -8.3rem;
}

#prsImage,
#BmdbImage,
#cubsQuizImage,
#chessImage {
    display: none;
}

.details h4 {
    color: #444;
    margin-top: 7rem;
    line-height: 1.37
}

.details .btn {
    background-color: #fff;
    border: 1px solid #1D2E26;
    color: #1D2E26;
    margin: 4rem auto;
}

.demoReroute {
    color: #444;
    margin-bottom: 3rem;
    margin-top: -3rem;
}


/*ContactStyles*/

.contactInfo {
    text-align: center;
}

.contactInfo h2 {
    text-align: center;
    margin-top: 8rem;
}

.contactInfo p {
    padding: 1rem;
}

.contactInfo a {
    color: #608976;
}

.contactInfo a:hover {
    color: #1D2E26;
    text-decoration: none;
}

contactInfo .fa {
    margin-right: 1.5rem;
    margin-top: 1rem;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/

footer {
    height: 10rem;
    background-color: #1D2E26;
    color: #fff;
    margin-top: 8rem;
    text-align: center;
    margin-bottom: -3rem;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}


/* Responsive styles*/

@media only screen and (max-width: 1460px) {
    .introduction img {
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 1200px) {
    .portfolio .box {
        height: 44rem;
        padding-bottom: 4rem;
        padding-top: 12rem;
    }
    .portfolio .box h2 {
        min-height: 10rem;
        margin-top: -4rem;
    }
    .portfolio .box .description {
        min-height: 18rem;
    }
}

@media only screen and (max-width: 989px) {
    .introduction img {
        width: 70%;
        padding-top: 0rem;
    }
}

@media only screen and (max-width: 768px) {
    .introduction img {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .icons img {
        max-height: 5rem;
        width: 5rem;
        margin-top: 2rem;
    }
}
